.sidebar {
  background-color: #ffffff;
  width: 48px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 8;
  padding-top: 48px;
  box-shadow: 1px 0 0 #d1d1d1;
}

.sidebar-icon {
  width: 16px;
  height: 16px;
}

.sidebar-header {
  background-color: #563D7C;
  height: 30px;
}

.sidebar-item {
  height: 40px;
}

.sidebar-item-active, .sidebar-item:hover {
  background-color: #f2f2f2;
}

