.grid {
  display: grid;
}

.place-center {
  place-items: center;
}

.shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border {
  border: 1px solid #e5e5e5;
}

.w-1 {
  width: 1px;
}

.gray-1 {
  color: #333333;
}

.gray-2 {
  color: #666666;
}
